
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="Opera" method="post">
            <label>Valor 1</label> <br />
            <input type="text" name="txtValor1" /> <br />
            <label>Valor 2</label> <br />
            <input type="text" name="txtValor2" /> <br />
            <input type="submit" name="btnOpe" value="Sumar"/>
            <input type="submit" name="btnOpe" value="Restar" />
            <input type="submit" name="btnOpe" value="Multiplicar" />
            <input type="submit" name="btnOpe" value="Dividir" />
        </form>
    </div>
</body>
</html>
